{% extends "base.html" %}

{% block title %}UUID generator{% endblock %}

{% block content %}

<h2>UUID generator</h2><br>

<p>UUIDs to use where you don't need a label</p><br>

<form method="POST">
  <div class="row">

    <div class="col-6">
      <h4>Copy these</h4><br>
      {% for uuid in uuids %}
        {{uuid}}<br>
      {% endfor %}
      <br><br>
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        name="generateMore"
        value="generateMore">
        Generate more
      </button>
    </div>

    <div class="col-6">
      <h4>Or write to a .txt file</h4><br>
      <label for="numberUUIDs">
        Number of UUIDs to include
      </label>
      <input
        type="number"
        step=1
        min=1
        max=10000
        class="form-control"
        name="numberUUIDs"
        id="numberUUIDs"
        value={{numberUUIDs}}
      >
      <br><br><br>
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        name="uuidsFile"
        value="uuidsFile">
        Create file
      </button>
    </div>

  </div>
</form>
<br><br>

{% endblock %}
