{% extends "base.html" %} {% block title %}Personnel{% endblock %} {% block content
%}
<div class="container">

  <h1>Setup Cruise</h1><br>
  <p>Page 1 of 2 of setup</p><br>

  {% include 'register/registeredPersonnel.html' %}

  <br>

  <form method="POST" enctype="multipart/form-data" >

  <h4>Register new people using an Excel template</h4>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <button type="submit" class="btn btn-secondary btn-lg btn-block" name="submit" value="generateExcel">Generate Excel file</button>
      </div>
      <div class="col-3">
        {% include 'submitSpreadsheetModal.html' %}
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-info btn-lg btn-block" name="submit" value="skipPersonnel">Skip for now</button>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-warning btn-lg btn-block" name="submit" value="skipAll">Skip all for now</button>
      </div>
    </div>
  </div>
  <br><br>

  </form>
</div>
{% endblock %}
