{% extends "base.html" %} {% block title %}Cruise Details{% endblock %} {% block content
%}
<div class="container">
  <h2>Cruise details</h2>
  <form method="POST">
    <div class="form-group">
      <label for="cruiseName">Cruise full name</label>
      <input
        type="text"
        class="form-control"
        id="cruiseName"
        name="cruiseName"
        placeholder="Full name of cruise"
        value="{{ current_cruise_name }}"
        required
      />
    </div>
    <div class="row">
      <div class="col">
        <label for="cruise_project">Project</label><br>
        <select class="form-select" id="project" name="project" aria-label="Default select example" required>
          <option selected>{{ current_cruise_project }}</option>
          {% for project in projects %}
            <option>{{project}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <br><span class="align-middle">To register a project, click &nbsp; </span><a class="btn btn-warning" href="/register/projects" role="button">here</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="cruise_leader">Cruise leader</label><br>
        <select class="form-select" id="cruiseLeader" name="cruiseLeader" aria-label="Default select example" required>
          <option selected>{{ current_cruise_leader }}</option>
          {% for person in personnel %}
            <option>{{person}}</option>
          {% endfor %}
        </select><br>
        <label for="cocruise_leader">Co-cruise leader</label><br>
        <select class="form-select" id="coCruiseLeader" name="coCruiseLeader" aria-label="Default select example">
          <option selected>{{ current_cocruise_leader }}</option>
          {% for person in personnel %}
            <option>{{person}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <br><br>
        <span class="align-middle">To register a person, click &nbsp; </span><a class="btn btn-success" href="/register/personnel" role="button">here</a>
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comments</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        placeholder="Optional comment"
        value="{{ current_cruise_comment }}"
      />
    </div>
    <p>Cruise number (from cruise logger): <span class="text-primary">{{CRUISE_NUMBER}}</span></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
