{% extends "base.html" %} {% block title %}Personnel{% endblock %} {% block content
%}
<div class="container">
  <h2>Registered personnel:</h2>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Institution</th>
        <th scope="col">OrcID</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, len) %}
      <tr>
        <td>{{first_names[i]}}</td>
        <td>{{last_names[i]}}</td>
        <td>{{emails[i]}}</td>
        <td>{{institutions[i]}}</td>
        <td>
          {% if orcids[i] %}
          <a href="{{orcids[i]}}">{{orcids[i]}}</a>
          {% endif %}
        </td>
        <td>
          {% if comments[i] %}
          {{comments[i]}}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <form method="POST" enctype="multipart/form-data" >

  <h3>Register many people using an Excel template...</h3>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <button type="submit" class="btn btn-secondary btn-lg btn-block" name="submit" value="generateExcel">Generate Excel file</button>
      </div>
      <div class="col-3">
        {% include 'submitSpreadsheetModal.html' %}
      </div>
    </div>
  </div>
  <br><br>

  <h3>...or register details one-by-one here</h3>

    <div class="row">
      <div class="col">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="First Name"
        />
      </div>
      <div class="col">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email">
      </div>
      <div class="col">
        <label for="orcid">OrcID</label>
        <input
          type="text"
          class="form-control"
          id="orcid"
          name="orcid"
          placeholder="https://orcid.org/0000-0002-9746-544X">
        <small><a href="https://orcid.org/">Get OrcID</a></small>
      </div>
    </div>
    <div class="form-group">

    </div>
    <div class="row">
      <div class="col">
        <label for="institution">Institution</label><br>
        <select class="form-select" id="institution" name="institution" aria-label="Default select example">
          <option selected>Choose...</option>
          {% for institution in registered_institutions %}
            <option>{{institution}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <br>
        <span>Can't see your institution? Register it &nbsp; </span><a class="btn btn-success" href="/register/institutions" role="button">here</a>
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        placeholder="Optional comments that might aid the user">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
