{% extends "base.html" %} {% block title %}Personnel{% endblock %} {% block content
%}
<div class="container">

  {% include 'register/registeredPersonnel.html' %}

  <br>

  <form method="POST" enctype="multipart/form-data" id="myForm">

    <h3>Register people one-by-one here...</h3>

    <br>
    <div class="row">
      <div class="col">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="First Name"
        />
      </div>
      <div class="col">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email">
      </div>
      <div class="col">
        <label for="orcid">OrcID</label>
        <input
          type="text"
          class="form-control"
          id="orcid"
          name="orcid"
          placeholder="https://orcid.org/0000-0002-9746-544X">
        <small><a href="https://orcid.org/">Get OrcID</a></small>
      </div>
    </div>
    <div class="form-group">

    </div>
    <div class="row">
      <div class="col">
        <label for="institution">Institution</label><br>
        <select class="custom-select" id="institution" name="institution" aria-label="Default select example">
          <option selected>Choose...</option>
          {% for institution in registered_institutions %}
            <option>{{institution}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <br>
        <span>Can't see your institution? Register it &nbsp; </span><a class="btn btn-success" href="/register/institution" role="button">here</a>
      </div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        placeholder="Optional comments that might aid the user">
    </div>
    <br>
    <div class="col-3">
      <button type="submit" class="btn btn-primary btn-lg btn-block" id="defaultButton">Submit</button>
    </div>
    <br><br>

    <h3>...or register many using this Excel template</h3><br>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <button type="submit" class="btn btn-secondary btn-lg btn-block" name="submit" value="generateExcel">Generate Excel file</button>
        </div>
        <div class="col-3">
          {% include 'submitSpreadsheetModal.html' %}
        </div>
      </div>
    </div>

  </form>
</div>
{% endblock %}
