<!-- Buttons trigger modal for fields -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{sheet}}_cfModal">
  Add CF standard names
</button>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#{{sheet}}_dwcModal">
  Add Darwin Core terms
</button>
<button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#{{sheet}}_fieldsModal">
  Add more fields
</button>

<!-- Modals -->

<!--CF standard names terms-->
<div class="modal fade" id="{{sheet}}_cfModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_cfModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>CF standard names as listed <a href="https://cfconventions.org/Data/cf-standard-names/current/build/cf-standard-name-table.html">here</a></p>
        <div class="search-box">
					<input type="text" class="form-control" placeholder="Search...">
				</div>
				<div class="list-group">
          {% for field in cf_standard_names %}
					<label title='{{field["description"]}}' class="list-group-item dropdown-menu pre-scrollable">
						<input type="checkbox" name='{{sheet}}__{{field["id"]}}' value="y"> {{field["id"]}}
					</label>
          {% endfor %}
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
      </div>
    </div>
  </div>
</div><br>

<!--Darwin Core terms-->
<div class="modal fade" id="{{sheet}}_dwcModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_dwcModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add terms</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Darwin Core terms as listed <a href="https://raw.githubusercontent.com/tdwg/rs.tdwg.org/master/terms/terms.csv">here</a></p>

        <div class="search-box">
					<input type="text" class="form-control" placeholder="Search...">
				</div>
				<div class="list-group">
          {% for term in dwc_terms_not_in_config[sheet] %}
          <p>{{term}}</p>
					<label title='{{term["description"]}}' class="list-group-item dropdown-menu pre-scrollable">
						<input type="checkbox" name='{{sheet}}__{{term["id"]}}' value="y"> {{term["id"]}}
					</label>
          {% endfor %}
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add terms</button>
      </div>
    </div>
  </div>
</div><br>

<!--Other terms-->
<div class="modal fade" id="{{sheet}}_fieldsModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_fieldsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for group in groups %}
        <div class="dropdown">
          <button type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
            {{group}}
          </button>
          <div class="dropdown-menu pre-scrollable">
             {% for field, vals in extra_fields_dict.items() %}
               {% if vals['grouping'] == group %}
               <div class="form-check">
                 <label title='{{vals["description"]}}' class="col-sm-9 col-form-label">
                   <input class="form-check-input" type="checkbox" id='{{sheet}}__{{field}}' name='{{sheet}}__{{field}}'>
                   {{vals["disp_name"]}}
                 </label>
               </div>
               {% endif %}
             {% endfor %}
           </div>
        </div><br>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
      </div>
    </div>
  </div>
</div><br>
