{% from "macros.html" import breadcrumb with context %}
{% extends "base.html" %}

{% block title %}Edit Activity{% endblock %}

{% block content %}

<div class="container">
  {% if trace %}
    {{ breadcrumb(trace) }}
  {% endif %}
  <h1>Form to register an activity</h1><br>
  <p class="form-text" id="eventtime_help">
    <span class="font-weight-bold">Key:</span>
    <span style="color:#006600">Darwin Core term</span>,
    <span style="color:#0000cc">CF standard name</span>,
    Custom field for logging system,
    <span style="color:#ff0000">*</span>Required field
  </p>

  <form method="POST">
    {% for requirement in output_config_dict['Data'].keys() %}
      {% if requirement not in ['Required CSV', 'Source'] %}
        {% for id, field in output_config_dict['Data'][requirement].items() %}
          {% include 'add_field_form_row.html' %}
        {% endfor %}
      {% endif %}
    {% endfor %}<br>

    {% include 'add_fields_not_in_config.html' %}

    {% for id, field in added_fields_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}

    {% for id, field in added_cf_names_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}

    {% for id, field in added_dwc_terms_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}






    <button type="submit" class="btn btn-primary btn-lg btn-block" name="submitbutton" value="submit">Submit</button>
  </form>
</div>
<br>

<div class="container">
  {% include 'tableChildren.html' %}
</div>

{% endblock %}
