{% extends "base.html" %} {% block title %}Edit Activity{% endblock %} {% block content
%}

<div class="container .text-center">
  <h2>Using on-screen form</h2>
  <br>
  <a class="btn btn-primary btn-lg" href="/editActivity/form/id={{ID}}" role="button">Go to form</a>

  <br><br><br>

  <h2>Using spreadsheet</h2>
  <br>
  <a class="btn btn-primary btn-lg" href="/editActivity/submitSpreadsheet" role="button">Submit activities</a>

  <a class="btn btn-secondary btn-lg" href="/generateTemplate" role="button">Generate empty template</a>
</div>


{% endblock %}
