{% extends "base.html" %} {% block title %}Edit Activity{% endblock %} {% block content
%}

<h2>Activity Metadata:</h2>
<p class="form-text" id="starttime_help">Required fields<span style="color:#ff0000">*</span></p>

<form method="POST">
  <div class="form-row align-items-center">
    <div class="col">
      <label for="uuid">Universally unique ID</label>
      <input
        type="text"
        class="form-control"
        name="uuid"
        id="uuid"
        placeholder="e.g. 10621b76-94c0-4cf5-8aa9-64697205da7d">
        <small class="form-text text-muted" id="uuid_help">From the Toktlogger if possible. If not provided, one will be assigned automatically</small>
    </div>
    <div class="col">
      <label for="catalogNumber">Your own ID</label>
      <input
        type="text"
        class="form-control"
        name="catalogNumber"
        id="catalogNumber"
        placeholder="Your own ID">
      <small class="form-text text-muted" id="id_help">A more human-readable ID for your own records. Should be unique within the cruise and project.</small>
    </div>
  </div>
  <br>
  <div class="form-row align-items-end">
    <div class="col">
      <label for="station">Station Name<span style="color:#ff0000">*</span></label>
      <select class="custom-select" id="station" name="station" aria-label="Default select example" required>
        <option selected>Choose...</option>
        {% for station in stations %}
          <option>{{station}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <a class="btn btn-info" href="/register/stations" role="button">Register new</a>
    </div>
    <div class="col">
      <label for="gearType">Gear Type<span style="color:#ff0000">*</span></label>
      <select class="custom-select" id="gearType" name="gearType" aria-label="Default select example" required>
        <option selected>Choose...</option>
        {% for gearType in gearTypes %}
          <option>{{gearType}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <a class="btn btn-info" href="/register/gearTypes" role="button">Register new</a>
    </div>
  </div>
  <br>
  <div class="form-row align-items-center">
    <div class="col">
      <label for="startLatitude">Start Latitude<span style="color:#ff0000">*</span></label>
      <input type="number" step=0.0001 min=-90 max=90 class="form-control" name="startLatitude" id="startLatitude" required>
      <small class="form-text text-muted" id="uuid_help">Decimal latitude</small>
    </div>
    <div class="col">
      <label for="startLongitude">Start Longitude<span style="color:#ff0000">*</span></label>
      <input type="number" step=0.0001 min=-180 max=180 class="form-control" name="startLongitude" id="startLongitude" required>
      <small class="form-text text-muted" id="uuid_help">Decimal longitude</small>
    </div>
    <div class="col">
      <label for="endLatitude">End Latitude</label>
      <input type="number" step=0.0001 min=-90 max=90 class="form-control" name="endLatitude" id="endLatitude">
      <small class="form-text text-muted" id="uuid_help">Decimal latitude</small>
    </div>
    <div class="col">
      <label for="endLongitude">End Longitude</label>
      <input type="number" step=0.0001 min=-180 max=180 class="form-control" name="endLongitude" id="endLongitude">
      <small class="form-text text-muted" id="uuid_help">Decimal longitude</small>
    </div>
  </div>
  <br>
  <div class="form-row align-items-top">
    <div class="col">
      <label for="startDate">Start Date<span style="color:#ff0000">*</span></label>
      <input type="date" class="form-control" id="startDate" name="startDate" required>
    </div>
    <div class="col">
      <label for="startTime">Start Time (UTC +00)<span style="color:#ff0000">*</span></label>
      <input type="time" class="form-control" id="startTime" name="startTime" required>
      <small class="form-text text-muted" id="starttime_help">HH:MM AM/PM</small>
    </div>
    <div class="col">
      <label for="endDate">End Date</label>
      <input type="date" class="form-control" id="endDate" name="endDate">
    </div>
    <div class="col">
      <label for="endTime">End Time (UTC +00)</label>
      <input type="time" class="form-control" id="endTime" name="endTime">
      <small class="form-text text-muted" id="endtime_help">HH:MM AM/PM</small>
    </div>
  </div>
  <br>
  <div class="form-row align-items-top">
    <div class="col">
      <label for="minDepth">Minimum depth sampled (m)</label>
      <input type="number" step=0.01 min=0 class="form-control" name="minDepth" id="minDepth">
      <small class="form-text text-muted">Relative to sea level</small>
    </div>
    <div class="col">
      <label for="maxDepth">Maximum depth sampled (m)</label>
      <input type="number" step=0.01 min=0 class="form-control" name="maxDepth" id="maxDepth">
      <small class="form-text text-muted">Relative to sea level</small>
    </div>
    <div class="col">
      <label for="minElevation">Minimum elevation sampled (m)</label>
      <input type="number" step=0.01 min=0 class="form-control" name="minElevation" id="minElevation">
    </div>
    <div class="col">
      <label for="maxElevation">Maximum elevation sampled (m)</label>
      <input type="number" step=0.01 min=0 class="form-control" name="maxElevation" id="maxElevation">
    </div>
  </div>
  <br>
  <div class="form-row align-items-center">
    <div class="col">
      <label for="pis">PI<span style="color:#ff0000">*</span></label>
      <select multiple class="custom-select" id="pis" name="pis" aria-label="Default select example" required>
        <option selected>Choose...</option>
        {% for person in personnel %}
          <option>{{person}}</option>
        {% endfor %}
      </select>
      <small class="form-text text-muted" id="pi_help">Select multiple by holding down CTRL or Fn</small>
    </div>
    <div class="col">
      <label for="recordedBys">Recorded by<span style="color:#ff0000">*</span></label>
      <select multiple class="custom-select" id="recordedBys" name="recordedBys" aria-label="Default select example" required>
        <option selected>Choose...</option>
        {% for person in personnel %}
          <option>{{person}}</option>
        {% endfor %}
      </select>
      <small class="form-text text-muted" id="recordedBy_help">Select multiple by holding down CTRL or Fn</small>
    </div>
    <div class="col">
      <a class="btn btn-info" href="/register/personnel" role="button">Register new</a>
    </div>
  </div>
  <br>
  <div class="form-row align-items-end">
    <div class="col">
      <label for="samplingProtocols">Sampling Protocols</label>
      <input
        type="text"
        class="form-control"
        id="samplingProtocols"
        placeholder="Sampling protocols document">
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        id="samplingProtocolsSection"
        placeholder="Section">
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        id="samplingProtocolsSection"
        placeholder="Version">
    </div>
  </div>
  <br>
  <div class="form-row">
    <label for="comment">Comments</label>
    <input
      type="text"
      class="form-control"
      id="comment"
      placeholder="Optional comment">
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
<br>

<h2>Children Registered:</h2>
{% endblock %}
