{% from "macros.html" import breadcrumb with context %}
{% extends "base.html" %}

{% block title %}Edit Record{% endblock %}

{% block content %}

<div class="container">
  {% if not trace.empty: %}
    {{ breadcrumb(trace) }}
  {% endif %}
  <h1>Form to register/edit one record</h1><br>

  <div class="row">
    <div class="col-8">
      <h2>{{ sampleType }}</h2>
      {% include 'fields_key.html' %}
    </div>
    {% include 'parent_details.html' %}
  </div><br><br>

  <form method="POST">
    {% for requirement in output_config_dict['Data'].keys() %}
      {% if requirement not in ['Required CSV', 'Source'] %}
        {% for id, field in output_config_dict['Data'][requirement].items() %}
          {% include 'add_field_form_row.html' %}
        {% endfor %}
      {% endif %}
    {% endfor %}<br>

    {% include 'add_fields_not_in_config.html' %}

    {% for id, field in added_fields_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}

    {% for id, field in added_cf_names_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}

    {% for id, field in added_dwc_terms_dic['Data'].items() %}
      {% include 'add_field_form_row.html' %}
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-lg btn-block" name="submitbutton" value="submit">Submit</button>
  </form>
</div>
<br>

<div class="container">
  {% include 'tableChildren.html' %}
</div>

{% endblock %}
