<div class="row">
  <div
  class="col-3"
  {% include 'fields_colours.html' %}
  >
    {% include 'denote_required_fields.html' %}
    {{ value['disp_name'] }}
    <img src="{{ url_for('static', filename='info.png')}}" alt="..." height="20" title="{{ value['description'] }}">
  </div>
  <div class="col-2">
    {% if value['requirements'] == 'required' %}
      <p class="text-danger font-weight-bold">Required</p>
    {% elif value['requirements'] == 'recommended' %}
      <p class="text-warning font-weight-bold">Recommended</p>
    {% elif value['requirements'] == 'optional' %}
      <p class="text-success font-weight-bold">Optional</p>
    {% endif %}
  </div>
  <div class="col-3">
    {% if 'source' in value['valid'].keys() %}
      {% if field in ['recordedBy', 'pi_details'] %}
        <select multiple class="custom-select" id="{{ field }}" name="{{ field }}" aria-label="Default select example">
          {% for person in value['valid']['source'] %}
            {% if person in value['value'] %}
              <option selected="selected">{{person}}</option>
            {% else %}
              <option>{{person}}</option>
            {% endif %}
          {% endfor %}
        </select>
      {% else %}
        <select class="custom-select" id="{{ field }}" name="{{ field }}" aria-label="Default select example">
          <option selected="selected">
            {{ value['value'] }}
          </option>
          {% for option in value['valid']['source'] %}
            <option>{{option}}</option>
          {% endfor %}
        </select>
      {% endif %}

    {% elif value['format'] == 'date' %}
      <input type="date" class="form-control" id="{{ field }}" name="{{ field }}" value={{value['value']}}>

    {% elif value['format'] == 'time' %}
      <input type="time" class="form-control" id="{{ field }}" name="{{ field }}" value={{value['value']}}>
      <button type="button" onclick="document.getElementById('{{ field }}').value = ''">Remove time</button>

    {% elif value['format'] == 'double precision' %}
      {% if field in ['decimalLatitude', 'middleDecimalLatitude', 'endDecimalLatitude'] %}
      <input type="number" step=0.0001 min=-90 max=90 class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>
      {% elif field in ['decimalLongitude', 'middleDecimalLongitude', 'endDecimalLongitude'] %}
      <input type="number" step=0.0001 min=-180 max=180 class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>
      {% elif field in ['minimumDepthInMeters', 'maximumDepthInMeters', 'minimumElevationInMeters', 'maximumElevationInMeters', 'bottomDepthInMeters'] %}
      <input type="number" step=0.0001 min=0 class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>
      {% else %}
      <input type="number" step=0.0001 class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>
      {% endif %}

    {% elif value['format'] == 'int' %}
      <input type="number" step=1 class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>

    {% else %}
      <input type="text" class="form-control" name="{{ field }}" id="{{ field }}" value={{value['value']}}>

    {% endif %}
  </div>
  <div class="col-3">
    <button
      class="btn btn-light"
      type="submit"
      name="movefieldtovary"
      value="{{ field }}">
      Some/all samples have different values
    </button>
  </div>
</div>
