{% if value['checked'] == ['vary'] %}
<td>
{% if 'source' in value['valid'].keys() %}
  {% if field in ['recordedBy', 'pi_details'] %}
    <select multiple class="custom-select" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}" aria-label="Default select example">
      {% for person in value['valid']['source'] %}
        <option>{{person}}</option>
      {% endfor %}
    </select>

  {% else %}
    <select class="custom-select" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}" aria-label="Default select example">
      <option selected="selected">
        {% if field == 'sampleType' %}
          {{ sampleType }}
        {% elif field == 'gearType' %}
          {{ gearType }}
        {% else %}
          None
        {% endif %}
      </option>
      {% for option in value['valid']['source'] %}
        <option>{{option}}</option>
      {% endfor %}
    </select>
  {% endif %}

{% elif value['format'] == 'date' %}
  <input type="date" class="form-control" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}">

{% elif value['format'] == 'time' %}
  <input type="time" class="form-control" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}">
  <button type="button" onclick="document.getElementById('{{ field }}').value = ''">Remove time</button>

{% elif value['format'] == 'double precision' %}
  {% if field in ['decimalLatitude', 'middleDecimalLatitude', 'endDecimalLatitude'] %}
  <input type="number" step=0.0001 min=-90 max=90 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
  {% elif field in ['decimalLongitude', 'middleDecimalLongitude', 'endDecimalLongitude'] %}
  <input type="number" step=0.0001 min=-180 max=180 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
  {% elif field in ['minimumDepthInMeters', 'maximumDepthInMeters', 'minimumElevationInMeters', 'maximumElevationInMeters', 'bottomDepthInMeters'] %}
  <input type="number" step=0.0001 min=0 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
  {% else %}
  <input type="number" step=0.0001 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
  {% endif %}

{% elif value['format'] == 'int' %}
  <input type="number" step=1 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">

{% else %}
  <input type="text" class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">

{% endif %}
</td>
{% endif %}
