{% from "macros.html" import breadcrumb with context %}
{% extends "base.html" %}

{% block title %}Log children samples or gear{% endblock %}

{% block content %}

<div class="container">
  {% if not trace.empty: %}
    {{ breadcrumb(trace) }}
  {% endif %}
  <h1>Log children samples or gear</h1>
  <hr />
  <h4>Suggestions</h4>

  <div class="container">
    {% for sample in recommendedChildSamples %}
      <a
        class="btn btn-primary"
        href="/logSamples/parentid={{ ID }}/chooseSampleFields/sampletype={{ sample }}"
        role="button"
      >
        {{ sample }}
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
  </div>
  <br /><br />

  <h4>Or choose type of sample that you want to log.</h4>
  <br />
</div>

<div class="container">
  {% include 'chooseSampleType.html' %}
  <br /><br />
</div>

<div class="container">
  {% include 'tableChildren.html' %}
</div>

{% endblock %}
