{% from "macros.html" import breadcrumb with context %}
{% extends "base.html" %}

{% block title %}Log children samples or gear{% endblock %}

{% block content %}

<div class="container">

  {% if not trace.empty: %}
    {{ breadcrumb(trace) }}
  {% endif %}
  <h1>Form to register multiple samples</h1><br>

  <div class="row">
    <div class="col-8">
      <h2>{{ sampleType }}</h2>
      {% include 'fields_key.html' %}
    </div>
    {% include 'parent_details.html' %}
  </div><br><br>
</div>

<form method="POST" enctype = "multipart/form-data" id="myForm">

  <div class="container">
    <!--for loop over fields common to all children-->
    <div class="row">
      <div class="col-9">
        <h3>Same for all samples</h3>
      </div>
      <div class="col-3">
        {% include 'promptPrintLabelsModal.html' %}
      </div>
    </div><br>    
    {% for requirement in output_config_dict['Data'].keys() %}
      {% if requirement not in ['Required CSV', 'Source'] %}
        {% for field, value in output_config_dict['Data'][requirement].items() %}
          {% if value['checked'] == ['same'] and field not in ['parentID'] %}
            {% include 'log_multiple_samples_field_same_for_all.html' %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for field, value in added_fields_dic['Data'].items() %}
      {% if value['checked'] == ['same'] and field not in ['parentID'] %}
        {% include 'log_multiple_samples_field_same_for_all.html' %}
      {% endif %}
    {% endfor %}

    {% for field, value in added_cf_names_dic['Data'].items() %}
      {% if value['checked'] == ['same'] and field not in ['parentID'] %}
        {% include 'log_multiple_samples_field_same_for_all.html' %}
      {% endif %}
    {% endfor %}

    {% for field, value in added_dwc_terms_dic['Data'].items() %}
      {% if value['checked'] == ['same'] and field not in ['parentID'] %}
        {% include 'log_multiple_samples_field_same_for_all.html' %}
      {% endif %}
    {% endfor %}

    <br><br>
  </div>

  <div class="container">
    <h3>Different for all samples</h3><br>

    <div class="row">
      <table class="table table-responsive table-sm">
        <thead class="thead-dark">
          <tr>
            {% for requirement in output_config_dict['Data'].keys() %}
              {% if requirement not in ['Required CSV', 'Source'] %}
                {% for field, value in output_config_dict['Data'][requirement].items() %}
                  {% if value['checked'] == ['vary'] %}
                    {% include 'log_multiple_samples_field_table_headers.html' %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_fields_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_table_headers.html' %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_cf_names_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_table_headers.html' %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_dwc_terms_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_table_headers.html' %}
              {% endif %}
            {% endfor %}
          </tr>
        </thead>

        <tbody>

          <tr>
            {% for requirement in output_config_dict['Data'].keys() %}
              {% if requirement not in ['Required CSV', 'Source'] %}
                {% for field, value in output_config_dict['Data'][requirement].items() %}
                  {% if value['checked'] == ['vary'] %}
                    {% include 'log_multiple_samples_field_move_field_to_all_same.html' %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_fields_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_move_field_to_all_same.html' %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_cf_names_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_move_field_to_all_same.html' %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_dwc_terms_dic['Data'].items() %}
              {% if value['checked'] == ['vary'] %}
                {% include 'log_multiple_samples_field_move_field_to_all_same.html' %}
              {% endif %}
            {% endfor %}
          </tr>

          <!--Content for user to fill in -->
          {% for row_num in range(num_rows) %}
          <tr>
            {% for requirement in output_config_dict['Data'].keys() %}
              {% if requirement not in ['Required CSV', 'Source'] %}
                {% for field, value in output_config_dict['Data'][requirement].items() %}
                  {% include 'log_multiple_samples_field_all_different.html' %}
                {% endfor %}
              {% endif %}
            {% endfor %}

            {% for field, value in added_fields_dic['Data'].items() %}
              {% include 'log_multiple_samples_field_all_different.html' %}
            {% endfor %}

            {% for field, value in added_cf_names_dic['Data'].items() %}
              {% include 'log_multiple_samples_field_all_different.html' %}
            {% endfor %}

            {% for field, value in added_dwc_terms_dic['Data'].items() %}
              {% include 'log_multiple_samples_field_all_different.html' %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4">
          {% include 'promptPrintLabelsModal.html' %}
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-secondary btn-lg btn-block" name="submit" value="generateExcel">Generate spreadsheet template</button>
        </div>
        <div class="col-4">
          {% include 'submitSpreadsheetModal.html' %}
        </div>
      </div>
    </div>
  </div>

</form>




{% endblock %}
