{% extends "base.html" %} {% block title %}Missing Metadata{% endblock %} {% block content
%}

<h1>Fill in multiple activities by gear type</h1>
<p>What you fill in here will only apply to the activities in the table below.</p>

<form method="POST">
  <div class="row">
    <div class="col">
        <h3>If Gear Type =</h3>
    </div>
    <div class="col">
      <select class="custom-select" id="bulkgeartype" name="bulkgeartype" aria-label="Default select example">
        {% for option in geartypes %}
          <option>{{option}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <h3>Recorded By = </h3>
    </div>
    <div class="col">
      <select multiple class="custom-select" id="bulkrecordedby" name="bulkrecordedby" aria-label="Default select example">
        {% for option in personnel %}
          <option>{{option}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <h3>and PI Details = </h3>
    </div>
    <div class="col">
      <select multiple class="custom-select" id="bulkpidetails" name="bulkpidetails" aria-label="Default select example">
        {% for option in personnel %}
          <option>{{option}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit" value="bulk">Submit</button>
    </div>
  </div>

</form>

<h4>Register more options for you drop-down lists <a class="btn btn-warning btn-lg" href="/register" role="button">here</a></h4>

<br>
<h1>All events with missing metadata</h1>

<form method="POST">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        {% for field, value in activity_fields_dic.items() %}
          {% if field == 'id' %}
            <th scope="col"></th>
          {% else %}
            <th scope="col">{{ value['disp_name'] }}<img src="{{ url_for('static', filename='images/info.png')}}" alt="..." height="20" title="{{ value['description'] }}"></th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row_num in range(num_rows) %}
      <tr>
        {% for field, value in activity_fields_dic.items() %}
          <td>
          {% if 'source' in activity_fields_dic[field].keys() %}
            {% if field in ['recordedBy', 'pi_details'] %}
              {% if value['values'][row_num] == [None] %}
                <div class="container bg-danger">
                  <select multiple class="custom-select" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}" aria-label="Default select example">
                    {% for person in value['source'] %}
                      <option>{{person}}</option>
                    {% endfor %}
                  </select>
                </div>
              {% else %}
                {{value['values'][row_num]}}
              {% endif %}
            {% else %}
              {% if value['values'][row_num] == None %}
                <div class="container bg-danger">
                  <select class="custom-select" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}" aria-label="Default select example">
                    <option selected="selected">None</option>
                    {% for option in value['source'] %}
                      <option>{{option}}</option>
                    {% endfor %}
                  </select>
                </div>
              {% else %}
                {{value['values'][row_num]}}
              {% endif %}
            {% endif %}

          {% elif field == 'id' %}
            <a
              class="btn btn-success"
              href="/editActivity/form/{{value['values'][row_num]}}"
              role="button">
              View/edit all metadata
            </a><br><br>
            <button type="submit" class="btn btn-primary" name="submit" value="{{ row_num }}">Submit</button>

          {% elif value['format'] == 'date' %}
            {% if value['values'][row_num] == None %}
              <div class="container bg-danger">
                <input type="date" class="form-control" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}">
              </div>
            {% else %}
              {{value['values'][row_num]}}
            {% endif %}

          {% elif value['format'] == 'time' %}
            {% if value['values'][row_num] == None %}
              <div class="container bg-danger">
                <input type="time" class="form-control" id="{{ field }}|{{ row_num }}" name="{{ field }}|{{ row_num }}">
                <button type="button" onclick="document.getElementById('{{ field }}').value = ''">Remove time</button>
              </div>
            {% else %}
              {{value['values'][row_num]}}
            {% endif %}

          {% elif value['format'] == 'double precision' %}
            {% if isnan(value['values'][row_num]) %}
              <div class="container bg-danger">
                {% if field in ['decimalLatitude', 'middleDecimalLatitude', 'endDecimalLatitude'] %}
                <input type="number" step=0.0001 min=-90 max=90 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
                {% elif field in ['decimalLongitude', 'middleDecimalLongitude', 'endDecimalLongitude'] %}
                <input type="number" step=0.0001 min=-180 max=180 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
                {% elif field in ['minimumDepthInMeters', 'maximumDepthInMeters', 'minimumElevationInMeters', 'maximumElevationInMeters', 'bottomDepthInMeters'] %}
                <input type="number" step=0.0001 min=0 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
                {% else %}
                <input type="number" step=0.0001 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
                {% endif %}
              </div>
            {% else %}
              {{value['values'][row_num]}}
            {% endif %}

          {% elif value['format'] == 'int' %}
            {% if isnan(value['values'][row_num]) %}
              <div class="container bg-danger">
                <input type="number" step=1 class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
              </div>
            {% else %}
              {{value['values'][row_num]}}
            {% endif %}

          {% else %}
            {% if value['values'][row_num] == None %}
              <div class="container bg-danger">
                <input type="text" class="form-control" name="{{ field }}|{{ row_num }}" id="{{ field }}|{{ row_num }}" value="{{value['values'][row_num]}}">
              </div>
            {% else %}
              {{value['values'][row_num]}}
            {% endif %}

          {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="container">
    <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit" value="all">Submit all</button>
  </div>
</form>
{% endblock %}
