<!-- Button trigger modal for adding more fields -->
<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#printLabels">
  Print labels
</button>
<!-- Modal -->
<div class="modal fade" id="printLabels" tabindex="-1" role="dialog" aria-labelledby="printLabelsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Label type</h3>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="labelType" id="labelType1" value="large" checked>
          <label class="form-check-label" for="labelType1">
            Large labels
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="labelType" id="labelType2" value="medium" checked>
          <label class="form-check-label" for="labelType2">
            Medium labels
          </label>
        </div><br><br>
        <h3>Choose fields to include on label:</h3>
        <p>Choose up to 4 for medium labels and 5 for large labels (excluding 'ID' field)</p>
        <div class="container">
          {% for requirement in output_config_dict['Data'].keys() %}
            {% if requirement not in ['Required CSV', 'Source'] %}
              {% for field, value in output_config_dict['Data'][requirement].items() %}
                {% if field == 'id' %}
                  <input class="form-check-input" type="checkbox" name="label_{{ field }}" value="y" checked disabled>
                {% else %}
                  <input class="form-check-input" type="checkbox" name="label_{{ field }}" value="y">
                {% endif %}
                <label class="form-check-label">
                  {{ value['disp_name'] }}
                </label><br>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="submit" value="printLabels">Submit</button>
      </div>
    </div>
  </div>
</div>
